<!-- Menu-->
<div class="container">
    <div class="row menu">
        <div class="col-xs-12 col-md-12 col-sm-12">
            <div class="">
                <a href="/" class="btn btn-default" id="btnDelivery" type="button">
                    <span class="fa fa-home fa-3x"></span><br>
                    Delivery
                </a>

                <a href="/addPhone" class="btn btn-default" id="btnAdd" type="button">
                    <span class="fa fa-plus-square fa-3x"></span><br>
                    Add
                </a>

                <a href="/btnUpdatePhone" class="btn btn-default" id="btnUpdate" type="button">
                    <span class="fa fa-pencil fa-3x"></span><br>
                    Update
                </a>

                <a href="/btnDelPhone" class="btn btn-default" id="btnDel" type="button">
                    <span class="fa fa-remove fa-3x"></span><br>
                    Delete
                </a><!---->
                <a href="/logout" class="btn btn-default" id="btnLogout" type="button">
                    <span class="fa fa-sign-out fa-3x"></span><br>
                    LOG OUT
                </a>

            </div>
        </div>
    </div>
</div>
<!-- Menu-->
